@import "tailwindcss";

@theme {
  --font-primary: "Hanken Grotesk", "sans-serif";
  --font-secondary: "Roboto Condensed", "sans-serif";
  --color-primary: #D97757;
  --color-black: #131313;
  --color-muted: #a9a9a9;
  --color-foreground: #f9f9f9;
  --color-danger: #FF0000;
}

@layer base {
  body {
    @apply bg-foreground text-black font-primary selection:text-white selection:bg-primary;
  }

  /* hide scrollbar */

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .color-muted {
    @apply text-white/70;
  }
}